flask
google-auth
google-auth-oauthlib
google-api-python-client
openai
requests
python-dotenv
flask_sqlalchemy
flask-login
gunicorn
psycopg2-binary
selenium
chromedriver-autoinstaller
APScheduler
matplotlib
wordcloud
fpdf2
pandas
flask-migrate
pillow
cryptography
flask-limiter
sentry-sdk[flask]
